<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Page Title</title>
    <link rel="stylesheet" href="../styles/mainStyle.css">
</head>
<body>
<div class="body MainPageWrapper">
    <div class="el NavBar">
        <div class="FlexNav">
            <div class="NavBrand">
                <div class="NavLogo">
                    <h1>
                        <a href="#">LOGO</a>
                    </h1>
                </div>
                <div class="Nav">
                    <ul class="NavUl">
                        <li class="NavUlLi">
                            <a href="index.html">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="NavAction">
                <button class="NavBtn">Contact
                </button>
            </div>
        </div>
    </div>
    <div class="el Content">
        <div class="TodoListWrapper" id="TodoListWrapper">
            <div class="TodoListFunction">
                <input id="TodoInput" type="text" placeholder="Write down your Todos here 🖍">
                <button onclick="AddTodo()" class="AddTodoBtn">➕</button>
            </div>
            <div class="TodoListBody">
                <ul class="myUl">

                </ul>
            </div>
        </div>
        <!--        Contact Form HTML-->
        <form id="contact_form">
            <!--            sender name-->
            <label>
                <input type="text" name="from_name" placeholder="Tell us who you are😀">
            </label>
            <!--            sender email-->
            <label>
                <input type="email" name="from_email" placeholder="Where to find you?">
            </label>
            <!--            sender message-->
            <label>
                <input type="text" name="message" placeholder="Your message📬">
            </label>
            <!--            submit button-->
            <button type="submit" class="sbmtButton">Send Form🚀</button>
        </form>


    </div>
    <div class="el LeftSidePanel">
        <div class="FunctionContainer">
            <div class="TodoListFunction">
                <button onclick="ShowTodos()" class="ShowTodoList">Create Todos 🖍</button>
                <hr/>
                <p class="ButtonDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut .</p>
            </div>
            <div class="ContactFormFunction">
                <button class="ShowContactForm">Say Hello!🖐</button>
                <hr/>
                <p class="ButtonDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut.
                </p>
            </div>
        </div>
    </div>
    <div class="el RightSidePanel"></div>
    <div class="el Footer"></div>
</div>
<!--Js imports and Libs-->
<script src="../backend/script.js"></script>
<!--CDN for EmailJS-->
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<!--This function should Initialize EmailJS with the public Api Key-->
<script type="text/javascript">
    (function () {
        emailjs.init("yZ9gB5CTCdFCk586e");

    })();
</script>
</body>
</html>
