<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Page Title</title>
    <link rel="stylesheet" href="../styles/mainStyle.css">
</head>
<body>
<div class="body MainPageWrapper">
    <div class="el NavBar">
        <div class="FlexNav">
            <div class="NavBrand">
                <div class="NavLogo">
                    <h1>
                        <a href="#">LOGO</a>
                    </h1>
                </div>
                <div class="Nav">
                    <ul class="NavUl">
                        <li class="NavUlLi">
                            <a href="index.html">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="NavAction">
                <button class="NavBtn">Contact
                </button>
            </div>
        </div>
    </div>
    <div class="el Content">
        <div class="TodoListWrapper" id="TodoListWrapper">
            <div class="TodoListFunction">
                <input id="TodoInput" type="text" placeholder="Write down your Todos here 🖍">
                <button onclick="AddTodo()" class="AddTodoBtn">➕</button>
            </div>
            <div class="TodoListBody">
                <ul class="myUl">

                </ul>
            </div>
        </div>

    </div>
    <div class="el LeftSidePanel">
        <div class="FunctionContainer">
            <div class="TodoListFunction">
                <button onclick="ShowTodos()" class="ShowTodoList">Create Todos 🖍</button>
                <hr/>
                <p class="ButtonDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut .</p>
            </div>
            <div class="ContactFormFunction">
                <button class="ShowContactForm">Say Hello!🖐</button>
                <hr/>
                <p class="ButtonDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut.
                </p>
            </div>
        </div>
    </div>
    <div class="el RightSidePanel"></div>
    <div class="el Footer"></div>
</div>
<!--Js imports and Libs-->
<script src="../backend/script.js"></script>
</body>
</html>
